# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
minimalism/node_modules
neobrutalism/node_modules
minimalism/.pnp
neobrutalism/.pnp
minimalism/.pnp.js
neobrutalism/.pnp.js
minimalism/*lock.json
neobrutalism/*lock.json

# testing
minimalism/coverage
neobrutalism/coverage
coverage/ # General coverage directory

# next.js build output
minimalism/.next/
neobrutalism/.next/
minimalism/out/
neobrutalism/out/

# production
minimalism/build
neobrutalism/build

# Static exports
/export/

# Environment variables
# Never commit secrets!
minimalism/.env*.local
neobrutalism/.env*.local
minimalism/.env
neobrutalism/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pnpm-debug.log

# OS-specific
.DS_Store
Thumbs.db
*.pem

# IDEs / Editors
minimalism/.idea/
neobrutalism/.idea/
.idea
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Next.js specific
next-env.d.ts